<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
<ul class="layui-nav layui-nav-tree" lay-filter="trainingLeftList">
    <li class="layui-nav-item"><a href="javascript:;" data-target="trainingHistory">训练历史</a></li>
    <li class="layui-nav-item"><a href="javascript:;" data-target="LibEER" >LibEER</a></li>
    <li class="layui-nav-item"><a href="javascript:;" data-target="SVM">SVM</a></li>
    <li class="layui-nav-item">
        <a class="" href="javascript:;">CNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-target="EEGNet">EEGNet</a></dd>
            <dd><a href="javascript:;" data-target="CDCN">CDCN</a></dd>
            <dd><a href="javascript:;" data-target="Tsception">Tsception</a></dd>
            <dd><a href="javascript:;" data-target="AC-CDCN">AC-CDCN</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">RNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-target="ACRNN">ACRNN</a></dd>
            <dd><a href="javascript:;" data-target="BiDANN">BiDANN</a></dd>
            <dd><a href="javascript:;" data-target="R2G-STNN">R2G-STNN</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">GNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-target="DGCNN">DGCNN</a></dd>
            <dd><a href="javascript:;" data-target="GCBNet">GCBNet</a></dd>
            <dd><a href="javascript:;" data-target="GCBNet_BLS">GCBNet_BLS</a></dd>
            <dd><a href="javascript:;" data-target="RGNN">RGNN</a></dd>
            <dd><a href="javascript:;" data-target="NSAL_DGAT">NSAL_DGAT</a></dd>
            <dd><a href="javascript:;" data-target="CR_GCN">CR_GCN</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">DNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-target="DBN">DBN</a></dd>
            <dd><a href="javascript:;" data-target="DAN">DAN</a></dd>
            <dd><a href="javascript:;" data-target="DANN">DANN</a></dd>
            <dd><a href="javascript:;" data-target="PR-PL">PR-PL</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">Transformer</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-target="HSLT">HSLT</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
    <li class="layui-nav-item"><a href="javascript:;">the links</a></li>
</ul>