<!-- 内容展示 -->

        <blockquote class="layui-elem-quote layui-text ">
            <span id="pdfName"></span>论文
        </blockquote>
        <div class="layui-card layui-panel" >
{#            <div class="layui-card-header"></div>#}
            <div class="layui-card-body" >
                  <iframe class="pdf-viewer" id="pdfViewer"
                            frameborder="0"
                            allowfullscreen style="height: 1400px;" >
                    </iframe>
            </div>
        </div>
        <br><br>
