<!-- 左部列区 -->

<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
<ul class="layui-nav layui-nav-tree" lay-filter="introductionLeftList">
    <li class="layui-nav-item"><a href="javascript:;">LibEER</a></li>
    <li class="layui-nav-item"><a href="javascript:;">SVM</a></li>
    <li class="layui-nav-item">
        <a class="" href="javascript:;">CNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">EEGNet</a></dd>
            <dd><a href="javascript:;">CDCN</a></dd>
            <dd><a href="javascript:;">Tsception</a></dd>
            <dd><a href="javascript:;">AC-CDCN</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">RNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">ACRNN</a></dd>
            <dd><a href="javascript:;">BiDANN</a></dd>
            <dd><a href="javascript:;">R2G-STNN</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">GNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">DGCNN</a></dd>
            <dd><a href="javascript:;">GCBNet</a></dd>
            <dd><a href="javascript:;">GCBNet_BLS</a></dd>
            <dd><a href="javascript:;">RGNN</a></dd>
            <dd><a href="javascript:;">NSAL_DGAT</a></dd>
            <dd><a href="javascript:;">CR_GCN</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">DNN</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">DBN</a></dd>
            <dd><a href="javascript:;">DAN</a></dd>
            <dd><a href="javascript:;">DANN</a></dd>
            <dd><a href="javascript:;">PR-PL</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">Transformer</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">HSLT</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
    <li class="layui-nav-item"><a href="javascript:;">the links</a></li>
</ul>
